# Byte-compiled / cache
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Environment
venv/

# VS Code settings
.vscode/

# Django migrations
**/migrations/*.pyc
**/migrations/__pycache__/

# Mac system files
.DS_Store
